html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #E55812;
    transition: color 250ms ease-in-out;
}

a:hover {
    color: #2EC4B6;
}

article {
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

h1 {
    font-size: 2.25rem;
    margin: 0.5rem;
}

h2 {
    font-size: 1.75rem;
    margin: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

input[type="text"] {
    background-color: #ECF0F1;
    border: none;
    border-radius: 4px;
    font-family: monospace;
    font-size: 1.125rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

input[type="text"]::placeholder {
    color: #000000;
}

input[type="submit"] {
    background-color: #D9DCD6;
    border: none;
    border-radius: 4px;
    display: block;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    transition: background-color 250ms ease-in-out;
    width: 20%;
}

input[type="submit"]:hover {
    background-color: #CEE7E6;
    cursor: pointer;
}

label {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

li {
    font-size: 1.25rem;
}

textarea {
    background-color: #ECF0F1;
    border: none;
    border-radius: 4px;
    font-size: 1.125rem;
    resize: none;
}

textarea::placeholder {
    color: #000;
}

ul {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

/* Clases de la página */

.link {
    font-size: 1.25rem;
    font-weight: bold;
    transition: color 250ms ease-in-out;
}

.link:hover {
    color: #2EC4B6;
}

.section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}